.hero {
    margin-top: 191px;



}


.hero__title {
    position: relative;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    font-weight: 700;
    font-size: 72px;
    margin-bottom: 93px;

    &::after {
        content: "";
        position: absolute;
        background-image: url("../../assets/light.png");
        background-repeat: no-repeat;
        background-size: contain;
        width: 717px;
        height: 717px;
        left: -90px;
        top: -190px;
    }
}

.hero__box {
    text-align: center;


    & .hero__btn {


        color: rgba(244, 247, 250, 1);
        font-size: 13px;
        font-weight: 700;
        letter-spacing: 1.63px;
        background-color: rgba(255, 145, 66, 1);
        padding: 24px 27px 26px 40px;
        border-radius: 32.5px;
        border: none;
        margin: 0 auto;


        cursor: pointer;

        & img {
            margin-left: 24px;
        }


        &:hover {
            opacity: 0.8;

        }
    }
}


@media(max-width:856px) {
    .hero__title {
        font-size: 55px;
    }
}

@media(max-width:710px){
    .hero__title{
        font-size: 32px;
    }
}

@media(max-width:660px){
    .hero__title::after{
        width: 500px;
        height: 500px;
    }
}
@media(max-width:440px){
    .hero__title::after{
        width: 360px;
        height: 360px;
        top: -90px;
    }
}
@media(max-width:389px){
    .hero__title::after{
        width: 360px;
        height: 360px;
        top: -90px;
    }
}