@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: "Syne", sans-serif;
    overflow-x: hidden;
    background-color: rgba(26, 26, 26, 1);
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

.container {
    max-width: 1186px;
    margin: 0 auto;
    padding: 0 20px;
}