.skills__title {
    text-align: center;
    color: white;
    font-size: 56px;
    margin-bottom: 20px;
    position: relative;


    &::after {
        content: "";
        background-image: url("../../assets/light.png");
        width: 417px;
        height: 217px;
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        top: -100px;
        right: 200px;
    }
}


.skills__info {
    text-align: center;
    color: rgb(184, 183, 183);
    max-width: 600px;

    margin: 0 auto;

}

.skills__list {
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    margin-top: 40px;
    /* width: 100%;
        flex: 1; */
    flex-wrap: wrap;
}

.skills__image {
    background-color: white;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 10px;
}


.skills__item {
    display: flex;
    flex-direction: column;
    background-color: rgb(38, 38, 38);
    padding: 20px;
    width: 173px;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;

    &:hover {
        background-color: rgb(60, 60, 60);
        transform: translateY(-15px);
        transition: 0.9s;
    }

}

.skills__text {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.skills {
    margin-bottom: 300px;
}



@media(max-width:1296px) {
    .skills__list {
        justify-content: center;
        gap: 20px;

    }
}

@media(max-width:960px) {
    .skills__list {
        justify-content: center;
    }
}


@media(max-width:594px) {
    .skills__title::after {
        right: 10px;
    }
}


@media(max-width:463px) {
    .skills__title::after {
        width: 300px;
        height: 150px;
        top: -50px;
    }


    .skills{
        margin-bottom: 150px;
    }
}

@media(max-width:405px) {
    .skills__item {
        width: 100%;
        flex: 1;
    }

    .skills__list{
        flex-direction: column;
    }

    .skills__info{
        font-size: 14.2px;

    }

    .skills__title{
        font-size: 35px;
    }
}