.head__logo {
    border-radius: 15px;
    cursor: pointer;
}

.head__box {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.head {
    padding: 30px;
    position: fixed;
    top: 0;
    z-index: 9999999999999999999;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.5);

    transition: 0.2s linear;
}

.back {
    transform: translateY(-370px);
}

.head__list {
    display: flex;
    align-items: center;
    gap: 44px;
}

.head__item {
    & a {
        color: rgba(255, 255, 255, 1);
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 500;
        cursor: pointer;

        &:hover {
            opacity: 0.8;
            text-decoration: underline;
        }
    }

    &:nth-child(4) a {
        text-decoration: none;
    }
}

.head__btn {
    color: rgba(255, 255, 255, 1);
    padding: 15px 35px;
    border: 2px solid rgba(255, 255, 255, 0.3);
    background-color: rgba(3, 3, 4, 0.5);
    border-radius: 30px;
    cursor: pointer;
    font-weight: 700;
    font-size: 14px;
}

.head__burgerbtn {
    background-color: transparent;
    border: none;
    display: none;


}




.head--open {
    position: absolute;
    top: 100%;
    right: 0;
    display: flex;
    flex-direction: column;
    /* width: 100%;  */
    background-color: #c3c2bb;
    padding: 20px 0px 20px 20px;
    height: 220px;
    z-index: 9999999999999999;

}

.head--open ul {
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}








@media (max-width:801px) {
    .head__item a {
        font-size: 10px;
    }

    .head__logo {
        width: 180px;
    }
}


@media (max-width:686px) {
    .head__navbar {
        display: none;
    }

    .head--open {
        display: flex;


    }

    .head__burgerbtn {
        display: inline-block;
    }
}



@media (max-width:350px) {
    .head__logo {
        width: 150px;
    }

    .head--open {}
}