.foot {
    background-color: rgba(19, 19, 19, 1);
    padding-top: 100px;
    padding-bottom: 83px;
}

.foot__tg__box {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.foot__title {
    color: rgba(255, 145, 66, 1);
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}

.foot__tg__box {
    text-align: center;
    margin-top: 23px;
    margin-bottom: 153px;
}


.foot__tg {
    color: rgba(255, 255, 255, 1);
    font-size: 64px;
    font-weight: 700;
    text-decoration: underline;

    &:hover {
        opacity: 0.8;
    }

}

.foot__github {
    color: rgba(255, 255, 255, 1);
    font-size: 64px;
    font-weight: 700;
    text-decoration: underline;

    &:hover {
        opacity: 0.8;
    }
}

.foot__box {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 35px;

}

.foot__adress {
    width: 150px;

    & a {
        color: rgba(255, 255, 255, 1);
        font-weight: 700;
        font-size: 24px;

        &:hover {
            opacity: 0.8;
            text-decoration: underline;
        }
    }
}

.foot__info {
    & .foot__tel {
        color: rgba(255, 255, 255, 1);
        font-weight: 700;
        font-size: 24px;

        &:hover {
            opacity: 0.8;
            text-decoration: underline;
        }
    }

    & .foot__telegram {
        width: 50px;

        &:hover {
            opacity: 0.8;
        }
    }


    .foot__infos {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}


.foot__bottom {
    margin-top: 36px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    font-weight: 700;
    font-size: 24px;


    & a {
        color: aqua;

        &:hover {
            text-decoration: underline;
            opacity: 0.8;
        }
    }
}



@media(max-width:959px) {
    .foot__tg {
        font-size: 45px;
    }

    .foot__github {
        font-size: 45px;
    }
}


@media(max-width:817px) {
    .foot__adress {
        & a {
            font-size: 18px;
        }
    }

    .foot__infos {
        & .foot__tel {
            font-size: 18px;
        }

        & .foot__telegram {
            & img {
                width: 35px;
            }
        }
    }
}

@media(max-width:681px) {
    .foot__tg {
        font-size: 32px;
    }

    .foot__github {
        font-size: 32px;
    }
}


@media(max-width:620px) {
    .foot__box {
        flex-direction: column;
        align-items: center;
        gap: 30px;

    }

    .foot__tg__box {
        margin-bottom: 90px;
    }

    .foot__adress {
        text-align: center;

        & a {
            text-align: center;
            margin: 0 auto;
        }

    }

    .foot__infos {
        text-align: center;
        margin: 0 auto;

        & a {
            text-align: center;
            margin: 0 auto;
        }
    }
}


@media(max-width:446px) {
    .foot__tg {
        font-size: 25px;
    }

    .foot__github {
        font-size: 25px;
    }
}

@media(max-width:366px) {
    .foot__bottom {
        font-size: 18px;
    }

     .foot__tg{
        font-size: 18px;
    }
    .foot__github{
        font-size: 18px;
    }
}